.ipynb_checkpoints/
__pycache__/
*.egg-info
docs/_build/doctrees/

docs/examples/????????????????????????????????????????.png
tests/siso/
tests/DATA
tests/seismology_lab
tests/brunton_examples
notebooks/uploads/samoa
notebooks/uploads/vincent
notebooks/uploads/opensees_sdof
notebooks/uploads/bernardino
notebooks/uploads/hayward
notebooks/output
notebooks/PEERNGARecords_Unscaled/
CESMD/*
!CESMD/CE58658
dist
tests
docs/theory/*.md

PUBLISHING.md
scrape.py

notebooks/PEERNGARecords_Unscaled

