*.egg-info
.ipynb_checkpoints/
PUBLISHING.md
__pycache__/
dist
notebooks/PEERNGARecords_Unscaled/
notebooks/figures/figures.pptx
src/ssid/
_build
docs/theory/out/
docs/library/generated/
docs/examples/
out/
**/.DS_store

myenv/
