*.egg-info
.ipynb_checkpoints/
PUBLISHING.md
__pycache__/
assets/
dist
notebooks/PEERNGARecords_Unscaled
notebooks/PEERNGARecords_Unscaled/
notebooks/output
notebooks/uploads/bernardino
notebooks/uploads/hayward
notebooks/uploads/opensees_sdof
notebooks/uploads/samoa
notebooks/uploads/vincent
scrape.py
studies
studies/Gavin/
studies/MATLAB_systemidtoolbox/n4sid/*.mat
tests
tests/DATA
tests/brunton_examples
tests/seismology_lab
tests/siso/
src/ssid/archive/
